{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
<table class="table table-bordered table-striped" style="clear: both">
   <tbody>
    <tr>
     <td colspan=4><h6 class="text-primary">付款单信息</h6></td>
    </tr>
    <tr>
      <td><strong>付款单名称</strong></td>
      <td colspan=3>{{ form.title }}</td>
    </tr>
    <tr>
      <td><strong>付款单据编号</strong></td>
      <td>{{ form.no }}</td>
      <td><strong>合同编号</strong></td>
      <td>{{ form.contact_no }}</td>
    </tr>
    <tr>
     <td colspan=4><h6 class="text-primary">申请人信息</h6></td>
    </tr>
    <tr>
      <td><strong>申请人</strong></td>
      <td>{{ member_info.name }}</td>
     <td><strong>申请部门</strong></td>
     <td>{{ member_info.depart }}</td>
    </tr>
    <tr>
      <td><strong>所属公司</strong></td>
      <td colspan=3>{{ member_info.company }}</td>
    </tr>

    <tr>
     <td colspan=4><h6 class="text-primary">物品列表</h6></td>
    </tr>
     <tr>
       <td colspan=4>
        <!-- row -->
        <div class="row">
          <!-- NEW WIDGET START -->
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="paypredetails"></table>
            <div id="paypredetailsnav"></div>
          </article>
          <!-- WIDGET END -->
        </div>
        <!-- end row -->
       </td>
     </tr>
     <td colspan=6><h6 class="text-primary">收款方信息</h6></td>
    </tr>
		<tr>
      <td colspan=2 width=30%>{{ form.acceptbank }}</td> <td width=10%>币种</td>  <td width=10%>{{ form.ftype }}</td>
    </tr>
  	<tr>
      <td colspan=2 width=30%>{{ form.acceptname }}</td> <td width=10%>总金额:</td> <td width=10%>{{ form.all_amount }}</td>
    </tr>
    <tr>
      <td  colspan=2 width=30%>{{ form.acceptaccount }}</td> <td  width=10%>应付金额:</td><td  width=10%>{{ form.diff_pre_amount }}</td>
    </tr>
    <tr>
      <td  colspan=2 width=30%>{{ form.amount }}</td> <td  width=10%>大写:</td><td  width=10%>{{ form.big_amount }}</td>
    </tr>
    <tr>
      <td colspan=4>
				<!-- row -->
				<div class="row">
					<!-- NEW WIDGET START -->
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             {{ form.fid }}
           </article>
         </div>
      </td>
    </tr>
   </tbody>
  </table>
  {{ form.actions }}
