{#
/**
 * @file
 * 处理机房工单表单
 *
 * Available variables:
 * - form: 处理机房工单表单
 *   - client: 公司名称
 *
 */
#}
{{attach_library('worksheet/drupal.worksheet-default') }}
{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
{{form.other}}
{{form.js}}
<table class='edit'>
  <tr>
    <td class='col1'>{{form.code}}</td>
    <td class='col1'>{{form.manage_ip}}</td>
    <td>{{form.client}}</td>
  </tr>
  <tr>
    <td>{{form.contacts}}</td>
    <td>{{form.show_created}}</td>
    <td>{{form.show_user}}</td>
  </tr>
  <tr>
    <td>{{form.show_handleuser}}</td>
    <td>{{form.show_lastuser}}</td>
    <td class="container-inline-block">{{form.tid}} {{form.op_dept}} {{form.relation_code}}{{form.more_link}}</td>
  </tr>
  <tr>
    <td>{{form.job_content}}</td>
    <td id="content-date-wrappers">{{form.job_hours}}</td>
    <td>{{form.handle_date}}</td>
  </tr>
  <tr>
    <td>{{form.product_name}}</td>
    <td>{{form.cabinet}}</td>
    <td>{{form.port}}</td>
  </tr>
  <tr>
    <td class='room-textarea'>{{form.requirement}}</td>
    <td class='room-textarea'>{{form.handle_info}}</td>
    <td class='room-textarea'>{{form.next_step}}</td>
  </tr>
  <tr>
    <td class='room-textarea' colspan="3">{{form.remember}}</td>
  </tr>
</table>
{{form.deliver_info_show}}
{{form.actions}}