{#
/**
 * @file
 * 创建开关机工单表单
 *
 * Available variables:
 * - form: 创建开关机工单表单
 *   - client: 公司名称
 *
 */
#}
{{attach_library('worksheet/drupal.worksheet-default') }}
{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}
{{form.other}}
{{form.js}}
<table class='edit'>
  <tr>
    <td class='col1'>{{form.code}}</td>
    <td class='col1'>{{form.manage_ip}}</td>
    <td>{{form.client}}</td>
  </tr>
  <tr>
    <td>{{form.contacts}}</td>
    <td>{{form.show_created}}</td>
    <td>{{form.show_user}}</td>
  </tr>
  <tr>
    <td>{{form.tid}}</td>
    <td>{{form.show_lastuser}}</td>
    <td>{{form.show_handleuser}}</td>
  </tr>
  <tr>
    <td colspan="3">{{form.handle_info}}</td>
  </tr>
</table>
{{form.deliver_info_show}}
{{form.actions}}