{{form.form_build_id}}
{{form.form_token}}
{{form.form_id}}

<!-- row -->
<div class="row">
  <!-- NEW WIDGET START -->
  <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="alert alert-danger fade in">
			<button data-dismiss="alert" class="close">
				×
			</button>
			<i class="fa-fw fa fa-warning"></i>
      重要提示: 一个采购单只能包含一个币种、一个供应商。
		</div>
  </article>
  <!-- WIDGET END -->
</div>
<!-- end row -->
<table class="table table-bordered table-striped" style="clear: both">
   <tbody>
    <tr>
     <td colspan=6><h6 class="text-primary">采购单信息</h6></td>
    </tr>
    <tr>
      <td width=10%><strong>采购单编号</strong></td>
      <td >{{ form.no }}</td>
      <td><strong>采购单名称</strong></td>
      <td>{{ form.title }}</td>
      <td><strong>创建时间</strong></td>
      <td>{{ form.created }}</td>
    </tr>

    <tr>
      <td><h6 class="text-primary">物品列表<!--物品列表来自配件实体表--></h6></td>
      <td colspan=4><span class="btn-danger">{{ form.tip }}</span></td>
      <td>
        <h6 class="text-primary" id="more-parts" >添加更多</h6>
      </td>
    </tr>
    <tr>
      <td colspan=6>
        <!-- row -->
        <div class="row">
          <!-- NEW WIDGET START -->
          <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table id="caigou-edit"></table>
            <div id="pjcaigou-edit"></div>
          </article>
          <!-- WIDGET END -->
        </div>
        <!-- end row -->
      </td>
    </tr>

    <tr>
      <td colspan=6>
				<!-- row -->
				<div class="row">
					<!-- NEW WIDGET START -->
					<article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
             {{ form.fid }}
           </article>
         </div>
      </td>
    </tr>


    <tr>
      <td colspan=6>
					<!-- row -->
					<div class="row">
						<!-- NEW WIDGET START -->
						<article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
{{ form.purpose }}
            </article>
						<article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
{{ form.description }}
            </article>
          </div>
      </td>
    </tr>


   </tbody>
  </table>
  {{ form.actions }}
